extends _layout

block vars
  - var pageTitle = 'About'
  - var pageDescription = 'Priyansh a developer, and artist from India.'
  - var pagePath = 'about'
  - var bodyClass = 'about'

block header

  h1 About
  .callout
    small
      a(href='mailto:priyansh0305@gmail.com') Send me a note
      span ➺

block content

  .content
    section.bio
      img.avatar(src='/assets/images/priyansh-av.png', width='400', height='400', alt='Lynn')
      p Hey! I’m Priyansh and I’m a developer. I love working on the web and Ai.

      p I have been building real world projects on Ai and doing research in Deep Learning.

      p I love to experiment with the web as a creative medium.

      p Right now I'm working on a research paper in LLM's and building project based on LLM's.

      //- blockquote The word that best describes Lynn is #[em undaunted]. She seems so at home living on the outer bounds of her creative comfort zone that she makes any wild and dangerous frontier look downright cozy.
      //-   cite Adam Avenir

    //- hr

    h2 Experiance
    ul.links.unstyled
      li
        p Mavvex Lab | ML Engineer Intern
        span.date 2024
      li
        p GirlScrip Summer of Code | Open Source Contributor
        span.date 2024
      li
        p RespAI Lab
        span.date 2023
      li
        p Artificial Intelligence Society (AISoC) | Web Dev lead
        span.date 2023

    h2 Skills
    ul.links.unstyled
      li
        span Linux
      li
        span Git
      li
        span Vercel
      li
        span Java 8
      li
        span Python
      li
        span C programming
      li
        span Flutter
      li
        span React
      li
        span Nodejs
      li
        span Expressjs
      li
        span Docker
      li 
        span Postman 
      li 
        span Postgresql

    h2 Project
    ul.links.unstyled
      li
        a(href='https://play.google.com/store/apps/details?id=com.plutouniverse.newsflow&pcampaignid=web_share') Built an intelligent news summarization app, available on Google Play. Delivers concise updates and tailored news directly to your Android device.
      li
        a(href='http://aisoc.in/') Build AISoC official website with a team of 5 members 
      li
        span A machine learning model that converts Natural Language into Shell Commands (In Progress)
      li
        span Currently working on a chatbot for Doctor of Rheumatology using LLM’s
      li
        span Also making a model to detect ILD (an interstitial lung disease) through CT Scans and also to predict the outcome of different types of medication on the person
      