extends _layout

block vars
  - var pageTitle = 'About'
  - var pageDescription = 'Priyansh a developer, and artist from India.'
  - var pagePath = 'about'
  - var bodyClass = 'about'

block header

  h1 About
  .callout
    small
      a(href='mailto:priyansh0305@gmail.com') Send me a note
      span ➺

block content

  .content
    section.bio
      img.avatar(src='/assets/images/priyansh-av.png', width='400', height='400', alt='Lynn')
      p Hey! I’m Priyansh and I’m a developer. I love working on the web and Ai.

      p I have been building real world projects on Ai and doing research in Deep Learning.

      p I love to experiment with the web as a creative medium.

      p Right now I'm working on a research paper in LLM's and building project based on LLM's.

      //- blockquote The word that best describes Lynn is #[em undaunted]. She seems so at home living on the outer bounds of her creative comfort zone that she makes any wild and dangerous frontier look downright cozy.
      //-   cite Adam Avenir

    //- hr

    h2 Experiance
    ul.links.unstyled
      li
        a(href='https://www.bravotv.com/top-chef-the-dish-with-kish/season-21/videos/tasting-blind') Top Chef: The Dish with Kish
        span.date 2024
      li
        a(href='https://www.rsspod.net/lynn-fisher') Really Specific Stories
        span.date 2024
      li
        a(href='https://web.dev/community-highlight-lynn-fisher/') web.dev Designcember Community Highlight
        span.date 2021
      li
        a(href='https://blog.codepen.io/2021/10/20/338-with-lynn-fisher/') CodePen Radio Ep. 338
        span.date 2021
      li
        a(href='https://www.slashfilm.com/daily-podcast-an-interview-with-lynn-fisher-the-creator-of-nestflix/') /Film Daily Podcast
        span.date 2021
      li
        a(href='https://www.learnwithjason.dev/a-single-spooky-div') Learn With Jason
        span.date 2020
      li
        a(href='https://youtu.be/-jPSLm4-2cc') Livestream with Erik Kroes
        span.date 2020
      li
        a(href='https://www.heroku.com/podcasts/codeish/72-designing-with-lynn-fisher') Heroku Code[ish] Ep. 72
        span.date 2020
      li
        a(href='https://designedu.today/episodes/e058-using-print-design-principles-in-interactive-design-layouts-with-lynn-fisher.html') Design Edu Today: Ep. 58
        span.date 2018
      li
        a(href='https://www.betonyourself.com/podcast/episode-40-lynn-fisher-1') Indiedotes Podcast: Ep. 40
        span.date 2018
      li
        a(href='https://web.archive.org/web/20180423054031/https://theblog.adobe.com/lynn-fishers-annual-portfolio-redesign-skills-sharp/') Adobe: How Lynn Fisher’s Annual Portfolio Redesign Keeps Her Design Skills Sharp
        span.date.date 2018
      li
        a(href='http://packyourknives.libsyn.com/the-risotto-curse-returns') Pack Your Knives: Ep. The Risotto Curse Returns
        span.date 2018
      li
        a(href='http://www.wbur.org/hereandnow/2015/04/01/airport-codes-mysteries') Airport Codes: Three Letters And A Few Unsolved Mysteries
        span.date 2015

    h2 Talks
    ul.links.unstyled
      li
        span The Browser as a Creative Medium
        span.venue Formidable Open House
        span.date 2020
      li
        a(href='https://speakerdeck.com/lynnandtonic/art-the-web-and-tiny-ux') Art, The Web, and Tiny UX
        span.venue Phoenix Design Week
        span.date 2018
      li
        a(href='https://speakerdeck.com/lynnandtonic/a-different-kind-of-ux') A Different Kind of UX
        span.venue Adobe Creative Jam
        span.date 2018
      li
        span Stretching CSS
        span.venue Design & Dev Meetup
        span.date 2016
      li
        a(href='/thoughts/entries/talk-illustration-with-css/') Illustration with CSS
        span.venue CSSDay
        span.date 2015
      li
        a(href='https://vimeopro.com/andyet/andyet-conf/video/175370807') I’ll Be Awesome At Lots of Things, Thank You Very Much
        span.venue &yetConf
        span.date 2015
      li
        a(href='https://speakerdeck.com/lynnandtonic/be-good-at-lots-of-things') Be Good At Lots of Things
        span.venue Phoenix Design Week
        span.date 2015
      li
        a(href='https://speakerdeck.com/lynnandtonic/illustrating-with-heart') Illustrating with Heart
        span.venue TriConf
        span.date 2014
      li
        a(href='https://speakerdeck.com/lynnandtonic/developers-as-intentional-designers') Developers As Intentional Designers
        span.venue JSConfBrazil
        span.date 2014
