extends _layout

block vars
  - var pageTitle = 'About'
  - var pageDescription = 'Priyansh a developer, and artist from India.'
  - var pagePath = 'about'
  - var bodyClass = 'about'

block header

  h1 About
  .callout
    small
      a(href='mailto:priyansh0305@gmail.com') Send me a note
      span ➺

block content

  .content
    section.bio
      img.avatar(src='/assets/images/priyansh-av.png', width='400', height='400', alt='Lynn')
      p Hey! I’m Priyansh and I’m a developer. I love working on the web and Ai.

      p I have been building real world projects on Ai and doing research in Deep Learning.

      p I love to experiment with the web as a creative medium.

      p Right now I'm working on a research paper in LLM's and building project based on LLM's.

      //- blockquote The word that best describes Lynn is #[em undaunted]. She seems so at home living on the outer bounds of her creative comfort zone that she makes any wild and dangerous frontier look downright cozy.
      //-   cite Adam Avenir

    //- hr

    h2 Experiance
    ul.links.unstyled
      li
        p Mavvex Lab | ML Engineer Intern
        span.date 2024
      li
        p GirlScrip Summer of Code | Open Source Contributor
        span.date 2024
      li
        p RespAI Lab
        span.date 2023
      li
        p Artificial Intelligence Society (AISoC) | Web Dev lead
        span.date 2023

    h2 Skills
    ul.links.unstyled
      li
        p Linux
      li
        p Java 8
      li
        p Python
      li
        p C programming
      li
        p Flutter
      li
        p React
      li
        p Nodejs
      li
        p Expressjs
      li
        p Docker
      li 
        p Postman 
      li 
        p Postgresql

    h2 Talks
    ul.links.unstyled
      li
        span The Browser as a Creative Medium
        span.venue Formidable Open House
        span.date 2020
      li
        a(href='https://speakerdeck.com/lynnandtonic/art-the-web-and-tiny-ux') Art, The Web, and Tiny UX
        span.venue Phoenix Design Week
        span.date 2018
      li
        a(href='https://speakerdeck.com/lynnandtonic/a-different-kind-of-ux') A Different Kind of UX
        span.venue Adobe Creative Jam
        span.date 2018
      li
        span Stretching CSS
        span.venue Design & Dev Meetup
        span.date 2016
      li
        a(href='/thoughts/entries/talk-illustration-with-css/') Illustration with CSS
        span.venue CSSDay
        span.date 2015
      li
        a(href='https://vimeopro.com/andyet/andyet-conf/video/175370807') I’ll Be Awesome At Lots of Things, Thank You Very Much
        span.venue &yetConf
        span.date 2015
      li
        a(href='https://speakerdeck.com/lynnandtonic/be-good-at-lots-of-things') Be Good At Lots of Things
        span.venue Phoenix Design Week
        span.date 2015
      li
        a(href='https://speakerdeck.com/lynnandtonic/illustrating-with-heart') Illustrating with Heart
        span.venue TriConf
        span.date 2014
      li
        a(href='https://speakerdeck.com/lynnandtonic/developers-as-intentional-designers') Developers As Intentional Designers
        span.venue JSConfBrazil
        span.date 2014
