extends _layout

block vars
  - var pageTitle = 'Thoughts'
  - var pageDescription = ''
  - var pagePath = 'thoughts'
  - var bodyClass = 'thoughts'

mixin thought(date,title,href,source)
  .thought
    a.thought-title(href=href)
      span= title
    if source
      small.external= source
    //- small.date= date

block header

  h1 Thoughts

  //- .callout
  //-   small
  //-     span
  //-       include ../_assets/images/icon-rss.svg
  //-     a(href='/feed.xml') Subscribe to RSS
  //-   small
  //-     a(href='https://lynnandtonicblog.com') My other blog
  //-     span ➺

block content

  section.content

    .thoughts-list

      h2.dateline 2024
      +thought('May 2024', 'Ten years of A Single Div', '/thoughts/entries/ten-years-of-a-single-div')
      //- +thought('May 2024', 'When your work disappears', '/thoughts/entries/when-your-work-disappears')
      //- +thought('March 2024', 'I archived my tweets', '/thoughts/entries/i-archived-my-tweets')
      //- +thought('March 2024', 'Case Study: lynnandtonic.com 2023 refresh', '/thoughts/entries/case-study-2023-refresh')
      //- +thought('February 2024', 'A decade of working remotely', '/thoughts/entries/a-decade-of-working-remotely')
      //- +thought('January 2024', 'SVG export wishlist', '/thoughts/entries/svg-export-wishlist')
      