extends _layout

block vars
  - var pageTitle = 'Thoughts'
  - var pageDescription = ''
  - var pagePath = 'thoughts'
  - var bodyClass = 'thoughts'

mixin thought(date,title,href,source)
  .thought
    a.thought-title(href=href)
      span= title
    if source
      small.external= source
    //- small.date= date

block header

  h1 Thoughts

  //- .callout
  //-   small
  //-     span
  //-       include ../_assets/images/icon-rss.svg
  //-     a(href='/feed.xml') Subscribe to RSS
  //-   small
  //-     a(href='https://lynnandtonicblog.com') My other blog
  //-     span ➺

block content

  section.content

    .thoughts-list

      h2.dateline 2024
      +thought('Aug 2024', 'My Driving Quote', '/thoughts/entries/my-driving-quote')

      