extends ../../_layout

block vars
  - var pageTitle = 'My Driving Quote'
  - var pageDescription = 'My driving quote'
  - var pagePath = 'my-driving-quote'
  - var bodyClass = 'thought-detail'
  - var date = '21 Aug 2024'
  - var ogImage = ''
  - var earlierText = ''
  - var earlier = ''

block content

  :markdown-it(html)

   One day, while scrolling through LinkedIn a few months ago, I came across a quote that instantly resonated with me. At that time, I was feeling a bit down because I wasn't seeing the progress in my career that I had hoped for.

    "You know you are winning when the you of today can barely recognize the you from a year ago."

    This is, by far, my favorite quote. It serves as a powerful reminder that growth often happens in ways we don't immediately notice. When I feel like I'm not good enough or doubt my progress, this quote reassures me that change is happening, even if it's not always visible day-to-day. 🌱

    It reminds me to reflect on how far I've come rather than just how far I still have to go. This thought alone makes me feel a lot better and helps me stay motivated to keep pushing forward.