extends ../../_layout

block vars
  - var pageTitle = 'My Driving Quote'
  - var pageDescription = 'My driving quote'
  - var pagePath = 'my-driving-quote'
  - var bodyClass = 'thought-detail'
  - var date = '21 Aug 2024'
  - var ogImage = ''
  - var earlierText = ''
  - var earlier = ''

block content

  :markdown-it(html)

    