nav.main-nav
  a.nav-home(href='/') PR
  a.nav-about(href='https://github.com/PriyanshSrivastava0305') Github
  a.nav-about(href='/about') About
  a.nav-thoughts(href='') Thoughts
  a.nav-archive(href='') Archive
  //- .mode-toggle
  //-   button(class='[ toggle-button ] [ js-mode-toggle ]')
  //-     span(class='toggle-icon' aria-hidden='true')
  //-       include ../../_assets/images/archive/2022/theme-icons.svg
  //-     span(class='[ toggle-text ] [ js-mode-toggle-text ]') Mode
